<html lang="en">
<html lang="en">
<head>
    <title>SpikeClick</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href=" {{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />  <!------>
       
</head>
<script type=text/javascript src="{{
    url_for('static', filename='/main.js')
  }}"></script>
<body>
    <nav>
        <div class="navbar-set" id="navbar-set-left">
            <div class="navbar-logo">
                <span class="material-symbols-outlined" id="navbar-icon">
                    joystick
                </span>
            </div>
            <div class="navbar-logo">
                SPIKECLICK
            </div>
        </div>
        <a href="{{ url_for('views.play') }}">
            <div class="navbar-play">
                PLAY
            </div>
        </a>
        <div class="navbar-set" id="navbar-set-right">
            <a href="{{ url_for('views.index') }}" class="navbar-page-link">
                <span class="material-symbols-outlined" id="navbar-icon">
                    home
                </span>
            </a>
            <a href="{{ url_for('views.users') }}" class="navbar-page-link">
                <span class="material-symbols-outlined" id="navbar-icon">
                    trophy
                </span>
            </a>
            <a href="{{ url_for('views.users') }}" class="navbar-page-link">
                <span class="material-symbols-outlined" id="navbar-icon">
                    groups
                </span>
            </a>
            {% if not current_user.is_authenticated %}
                <a href="{{ url_for('auth.login') }}" class="navbar-page-link">
                    <span class="material-symbols-outlined" id="navbar-icon">
                        person
                    </span>
                </a>
            {% else %}
                <a href="{{ url_for('views.userpage', userid=current_user.id) }}" class="navbar-page-link">
                    <span class="material-symbols-outlined" id="navbar-icon">
                        person
                    </span>
                </a>
            {% endif %}
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.logout') }}" class="navbar-page-link">
                    <span class="material-symbols-outlined" id="navbar-icon">
                        logout
                    </span>
                </a>
            {% endif %}
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% set message = messages[0] %}
            {% if message[0] == "happy" %}
                <div class="message-box-box">
                    <div class="message-box message-box-happy">
                        <span class="material-symbols-outlined" id="message-icon">
                            sentiment_very_satisfied
                        </span>
                        <div>
                            {{ message[1] }}
                         </div>
                     </div>
                 </div>
                 
            {% elif message[0] == "info" %}
                <div class="message-box-box">
                    <div class="message-box message-box-info">
                        <span class="material-symbols-outlined" id="message-icon">
                            info
                        </span>
                        <div>
                            {{ message[1] }}
                        </div>
                    </div>
                </div>
            {% elif message[0] == "error" %}
                <div class="message-box-box">
                    <div class="message-box message-box-error">
                        <span class="material-symbols-outlined" id="message-icon">
                            error
                        </span>
                        <div>
                            {{ message[1] }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endwith %}


    {% block content %}
    {% endblock %}
</body>
</html>