{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<div class="login-box">
    <div class="login-title">
        LOGIN
    </div>
    <div class="login-line"></div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}

    <form role="form" method="POST" action="">
        {{ form.csrf_token }}
        <div class="login-input">
            <!--<div class="login-input-title">
                email adress:
            </div>-->
            {{ render_field(form.email) }}
        </div>
        <div class="login-input">
            <!--<div class="login-input-title">
                password:
            </div>-->
            {{ render_field(form.password) }}
        </div>

        <div class="login-button-box">
            <button class="login-button" id="login-button-login">
                LOGIN
            </button>
            <a href="{{ url_for("auth.signup") }}" class="login-button" id="login-button-register">
                SIGN UP
            </a>
        </div>
    </form>
</div>
{% endblock %}