{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<div class="login-box">
    <div class="login-title">
        LOGIN
    </div>
    <div class="login-line"></div>

    <form class="login-form" role="form" method="POST" action="">
        {{ form.csrf_token }}
        <div class="login-input-box">
            {{ render_field(form.email) }}
        </div>
        <div class="login-input-box">
            {{ render_field(form.password) }}
            <button class="login-show-password-button" type="button" onclick="togglePasswordVisibilityLogin('password')">
                <span class="material-symbols-outlined" id="key-icon">
                    visibility
                </span>
            </button>
        </div>

        <div class="login-rememberme-box">
            {{ render_field(form.remember_me) }}
        </div>


        <div class="login-button-box">
            <button class="login-button" id="login-button-login">
                LOGIN
            </button>
            <a href="{{ url_for('auth.signup') }}" class="login-button" id="login-button-register">
                SIGN UP
            </a>
        </div>
    </form>
</div>
{% endblock %}