{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<div class="login-box">
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
                {% if message[0] == "happy" %}
                    <div class="message-box message-box-happy">
                        <span class="material-symbols-outlined" id="message-icon">
                            sentiment_very_satisfied
                        </span>
                        <div>
                            {{ message[1] }}
                        </div>
                    </div>
                {% elif message[0] == "info" %}
                    <div class="message-box message-box-info">
                        <span class="material-symbols-outlined" id="message-icon">
                            info
                        </span>
                        <div>
                            {{ message[1] }}
                        </div>
                    </div>
                {% elif message[0] == "error" %}
                    <div class="message-box message-box-error">
                        <span class="material-symbols-outlined" id="message-icon">
                            error
                        </span>
                        <div>
                            {{ message[1] }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="login-title">
        LOGIN
    </div>
    <div class="login-line"></div>

    <form role="form" method="POST" action="">
        {{ form.csrf_token }}
        <div class="login-input">
            <!--<div class="login-input-title">
                email adress:
            </div>-->
            {{ render_field(form.email) }}
        </div>
        <div class="login-input">
            <!--<div class="login-input-title">
                password:
            </div>-->
            {{ render_field(form.password) }}
        </div>
        <button class="btn btn-outline-secondary" type="button" onclick="togglePasswordVisibilityLogin('password')">Show password</button>


        <div class="login-button-box">
            <button class="login-button" id="login-button-login">
                LOGIN
            </button>
            <a href="{{ url_for('auth.signup') }}" class="login-button" id="login-button-register">
                SIGN UP
            </a>
        </div>
    </form>
</div>
{% endblock %}