{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="notification is-danger">
              {{ messages[0] }}
          </div>
        {% endif %}
      {% endwith %}
      <main class="form-signin w-100 m-auto">
        <form role="form" method="post" action="">
          {{ form.csrf_token }}
  
          {{ render_field(form.email) }}
<div class="login-box">

    <div class="login-title">
        SIGN UP
    </div>
    <div class="login-line"></div>

    <form role="form" method="POST" action="">
        {{ form.csrf_token }}
        <div class="login-input-box">
            {{ render_field(form.email) }}
        </div>
        <div class="login-input-box">
          {{ render_field(form.username) }}
        </div>
        <div class="login-input-box">
            {{ render_field(form.password) }}
            <button class="login-show-password-button" type="button" onclick="togglePasswordVisibilitySignup('password', 'confirm')">
                <span class="material-symbols-outlined" id="key-icon">
                    visibility
                </span>
            </button>
        </div>
        <div class="login-input-box">
            {{ render_field(form.confirm) }}
        </div>
        

        <div class="login-button-box">
            <button class="login-button" id="login-button-login">
                SIGN UP
            </button>
            <a href="{{ url_for('auth.login') }}" class="login-button" id="login-button-register">
                LOGIN
            </a>
        </div>
    </form>
</div>
{% endblock %}