{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<div class="login-box">
    <div class="login-title">
        SIGN UP
    </div>
    <div class="login-line"></div>

    <form role="form" method="POST" action="" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ pfp_form.csrf_token }}
        {{ form.hidden_tag() }}
        {{ pfp_form.hidden_tag() }}
        <div class="login-input-box">
            {{ render_field(form.email) }}
        </div>
        <div class="login-input-box">
          {{ render_field(form.username) }}
        </div>
        <div class="login-input-box">
            {{ render_field(form.password) }}
            <button class="login-show-password-button" type="button" onclick="togglePasswordVisibilitySignup('password', 'confirm')">
                <span class="material-symbols-outlined" id="key-icon">
                    visibility
                </span>
            </button>
        </div>
        <div class="login-input-box">
            {{ render_field(form.confirm) }}
        </div>
        {{ render_field(pfp_form.profile_picture) }}

        <div class="login-button-box">
            {{ form.submit(class="login-button", id="login-button-login") }}
            <a href="{{ url_for('auth.login') }}" class="login-button" id="login-button-register">
                LOGIN
            </a>
        </div>
    </form>
</div>
{% endblock %}