{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="profile-box">
    <div class="profile-element-data">
        <div class="profile-icon-box">
            <img src="../static/profile_pics/{{user.profile_picture}}" height="200">
        </div>
        <div class="profile-data-box">
            <div class="profile-username">
                {{ user.name }}
            </div>
            <div class="profile-date-text">
                Account created on:
            </div>
            <div class="profile-date">
                {{ user.created_on.strftime('%Y-%m-%d %H:%M') }}
            </div>
        </div>
    </div>
    <div class="profile-line">

    </div>
    <div class="profile-element-info">
        <div class="profile-info-box">
            <div class="profile-info-text">
                HIGH SCORE
            </div>
            <div class="profile-info-number">
                {{ high_score }}
            </div>
        </div>
        <div class="profile-info-box">
            <div class="profile-info-text">
                GAMES PLAYED
            </div>
            <div class="profile-info-number">
                {{ game_count }}
            </div>
        </div>
        <form role="form" method="POST" action="">
            {{render_field(form.comment)}}
            <button class="">
                POST COMMENT
            </button>
        </form>
        {% for comment in comments %}
            <div>
                <a>{{comment.user_from_name}}:</a>
                <a>{{comment.body}}</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}