{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}

<div class="users-box">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
                {% if message[0] == "happy" %}
                    <div class="message-box message-box-happy">
                        <span class="material-symbols-outlined" id="message-icon">
                            sentiment_very_satisfied
                        </span>
                        <div>
                            {{ message[1] }}
                        </div>
                    </div>
                {% elif message[0] == "info" %}
                    <div class="message-box message-box-info">
                        <span class="material-symbols-outlined" id="message-icon">
                            info
                        </span>
                        <div>
                            {{ message[1] }}
                        </div>
                    </div>
                {% elif message[0] == "error" %}
                    <div class="message-box message-box-error">
                        <span class="material-symbols-outlined" id="message-icon">
                            error
                        </span>
                        <div>
                            {{ message[1] }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="users-title">
        USERS
    </div>
    <div class="users-line"></div>
    
    <form role="form" method="post" action="">
        <label for="username">Search by Username:</label>
        {{render_field(form.search)}}
        <button type="submit">Search</button>
    </form>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
